*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Helvetica, Serif;
    background: #4a4e69;
}
.NavBar{
    list-style: none;
    padding: 0;
    background: #f2e9e4;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    border-radius: 10px;
    text-align: center;
    margin-top: 15px;
}
.NavBar li a{
    text-decoration: none;
    color: #22223b;
    padding: 20px;
    display: block; 
}
.NavBar li{
    display: inline-block;
    text-align: center;
}
.NavBar li a:hover{
    background: #c9ada7;
    border-radius: 10px;
}