*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: cursive;
    background: #4a4e69;
}

a:link    { color: orange; text-decoration: underline; }
a:visited { color: orange; text-decoration: underline; }
a:hover   { color: orange; text-decoration: underline; }
a:active  { color: orange; text-decoration: underline; }


.NavBar{
    list-style: none;
    padding: 0;
    background: #f2e9e4;
    width: 90%;
    max-width: 1000px;
    min-width: 492px;
    margin: auto;
    border-radius: 10px;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}
.NavBar li a{
    text-decoration: none;
    color: #22223b;
    padding: 20px;
    display: block; 
}
.NavBar li{
    display: inline-block;
    text-align: center;
}
.NavBar li a:hover{
    background: #c9ada7;
    border-radius: 10px;
}
#imagen{
    width: 100%;
    height: 100%;
    border-radius: 20px ;
}
.Hero{
    width: 100%;
    min-width: 492px;
    position: relative;
    height: 780px;
    margin-bottom: 15px;

}
.Button{
    font-size: 30px;
    width: 70px;
    height: 70px;
    line-height: 70px;
    border-radius: 50%;
    background-color: rgba(0,0,0,.7);
    text-align: center;
    font-weight: bold;
    position: absolute;
    color: #fff;
    box-shadow: 0 0 10px rgba(225, 225, 225, .6);
    -webkit-transition: all .3 ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}
.Button:hover{
    cursor: pointer;
    transform: scale(1.2,1.2);
}
.back{
    left: 2%;
    bottom:45%;
}
.next{
    right: 2%;
    bottom: 45%;
}
.aboutMeText{
    padding: 5px;
    background: #f2e9e4;
    max-width: 400px;
    min-width: 300px;
    margin: auto;
    border-radius: 10px;
    text-align: left;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 40px;
    display: inline-block;

}
#aboutMePhoto{
    padding: 5px;
    width: 60%;
    max-width: 400px;
    min-width: 340px;
    align-items: right;
    border-radius: 10px;
    float: flex;
    margin: auto;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 30px;
    background:#f2e9e4;
}
.Logo{
    width: 150px;
    border-radius: 50%;
    padding: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 60);
    background: #f2e9e4;
}
.Title{
    width: 70%;
    min-width: 494px;
    text-align: center;
    background: #f2e9e4;
    margin: auto;
    margin-top: 15px;
    border-radius: 15px;
}
.titleDark{
    width: 70%;
    text-align: center;
    background: #22223b;
    color: #c9ada7;
    margin: auto;
    margin-top: 15px;
    border-radius: 15px;
}
.Experience{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #c9ada7;
    padding: 15px;
    width: 100%;
    min-width: 494px;
    border-radius: 20px;
    text-align: center;
    display: flex;
    margin: 15px;
    margin-top: 15px;
}
.internalSmallBox{
    width: 300px;
    margin: auto;

}
#spaceXLink{
    color: black;
}
#metaLink{
    color:rgb(35, 149, 255)
}
#instagramLink{
    color:rgb(246, 107, 130);
}
.Skills{
    font-size: 30px;
    background: #c9ada7;
    padding: 15px;
    width: 600px;
    border-radius: 20px;
    text-align: center;
    margin: 15px;
    border: 1px solid black;
}
#skillsTitle{
    font-size: 30px;
    background: #f2e9e4;
    padding: 15px;
    width: 400px;
    border-radius: 20px;
    text-align: center;
    margin: 15px;
    margin-left: 120px;
}
.contact{
    background: #f2e9e4;
    width: 80%;
    min-width: 494px;
    border-radius: 10px;
    padding: 20px 40px 40px 40px;
    margin: 30px auto auto auto;
}
.contact.contactBox{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.contact.contactBox.left{
    width: 25%;
    height: 100%;
}
.field{
    padding: 10px;
    margin: 10px;
    border: 2px solid #22223b;
    box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
    border-radius: 10px;
    width: 100%;
    
}
#bttn{
    font-weight: bold;
    padding: 10px;
    margin: 10px;
    border: 2px solid #22223b;
    background: rgb(70, 166, 235);
    box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
    border-radius: 10px;
    width: 100%;
}
#bttn:hover{
    background: rgb(9, 91, 215);
}
.extraSmall{
    width: 100px;
    height: 52px;
    margin: auto;
}
.WAyEM{
    width: 50px;
    height: 50px;
    margin: auto;
    margin-right: 18px;
}
.Titlew{
    width: 70%;
    min-width: 494px;
    text-align: center;
    margin: auto;
    margin-top: 15px;
    border-radius: 15px;
}