*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: cursive;
    background: #4a4e69;
}

a:link    { color: orange; text-decoration: underline; }
a:visited { color: orange; text-decoration: underline; }
a:hover   { color: orange; text-decoration: underline; }
a:active  { color: orange; text-decoration: underline; }


.NavBar{
    list-style: none;
    padding: 0;
    background: #f2e9e4;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    border-radius: 10px;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}
.NavBar li a{
    text-decoration: none;
    color: #22223b;
    padding: 20px;
    display: block; 
}
.NavBar li{
    display: inline-block;
    text-align: center;
}
.NavBar li a:hover{
    background: #c9ada7;
    border-radius: 10px;
}
#imagen{
    width: 100%;
    height: 100%;
    border-radius: 20px ;
}
.Hero{
    width: 100%;
    position: relative;
    height: 780px;
    margin-bottom: 15px;

}
.Button{
    font-size: 30px;
    width: 70px;
    height: 70px;
    line-height: 70px;
    border-radius: 50%;
    background-color: rgba(0,0,0,.7);
    text-align: center;
    font-weight: bold;
    position: absolute;
    color: #fff;
    box-shadow: 0 0 10px rgba(225, 225, 225, .6);
    -webkit-transition: all .3 ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}
.Button:hover{
    cursor: pointer;
    transform: scale(1.2,1.2);
}
.back{
    left: 2%;
    bottom:45%;
}
.next{
    right: 2%;
    bottom: 45%;
}
.aboutMeText{
    padding: 5px;
    background: #f2e9e4;
    max-width: 450px;
    margin: left;
    border-radius: 10px;
    text-align: left;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 40px;
    display: inline-block;

}
#aboutMePhoto{
    width: 300px;
    align-items: right;
    border-radius: 10px;
    float: right;
    margin: auto;
    margin-right: 400px;
    margin-top: 30px;
    background:#f2e9e4;
}
.Logo{
    width: 150px;
    border-radius: 50%;
    padding: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 60);
    background: #f2e9e4;
}
#ExperienceTitle{
    width: 70%;
    text-align: center;
    background: #f2e9e4;
    margin: auto;
    border-radius: 15px;
}
.Experience{
    background: #c9ada7;
    padding: 15px;
    width: 100%;
    border-radius: 20px;
    text-align: center;
    display: flex;
    margin-top: 15px;
}
.internalSmallBox{
    width: 300px;
    margin: auto;

}
#spaceXLink{
    color: black;
}
#metaLink{
    color:rgb(35, 149, 255)
}
#instagramLink{
    color:rgb(246, 107, 130);
}